.App {
  height: calc(100vh - 80px);
  padding-top: 80px;
  background: rgb(201, 212, 237);
  background: linear-gradient(90deg, rgba(201, 212, 237, 0.6404936974789917) 35%, rgba(228, 239, 233, 1) 100%);
}
