.instructions {
  &__main-title {
    font-size: 50px;
    margin: 0 0 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
  }

  &__list {
    width: 36%;
    padding-left: 20px;
    margin: 0 auto;

    &-title {
      font-size: 30px;
      font-weight: 300;
      line-height: 32px;
      margin: 0 0 50px;
      text-align: center;
    }

    &-item {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 24px;

      a {
        color: #7bb6fe;
      }
    }
  }

  &__note {
    color: #656565;
    text-align: center;
    font-size: 12px;
  }
}
